@import './base.scss';

.aboutSection {
  height: 100vh;
  // min-height: 650px;
  // background-color: rgb(53, 128, 78);
  // background-image: url(../../public/images/bg/hero-transparent.png);
  // background-size: cover;
}

.aboutInfo {
  flex: 0 0;
}

.aboutText {
  margin-bottom: 20px;
}

.imageContainer {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.image {
  max-width: 100%;
}
