@function rem($px) {
  @return $px / $baseFontSize + 0rem;
}
@mixin tablets {
  @media screen and (max-width: $tablets) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: $phones) {
    @content;
  }
}

$containerWidth: 95%;
$maxWidth: 1300px;
$baseFontSize: 18px;
$z-fixed-menu: 10;
$z-hamburger-menu: 100;
$z-modal: 1000;
$white: #fff;
$grayText: #666;
// $body: #666;
// $black: #000;
// $yellow: #fedb3f;
// $blue: #1968b1;
// $brightYellow: #ffd517;
$tablets: 920px;
$phones: 520px;

.section {
  // background-image: url(../../public/images/bg/hero-transparent.png);
  height: 100vh;
  min-height: 600px;
  &:first-child {
    padding-top: 10vh;
  }
  &:last-child {
    padding-bottom: 10vh;
  }
  &__container {
    width: $containerWidth;
    max-width: $maxWidth;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0;
    text-align: center;
  }
  &__title {
    line-height: 1.21;
    // color: $white;
    color: rgb(127, 126, 65);
    margin-bottom: 50px;
    // @include tablets {
    //   margin-bottom: rem(8px);
    // }
    // @include phones {
    //   line-height: 1;
    // }
  }
}

.page__container {
  width: $containerWidth;
  max-width: $maxWidth;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  padding: 12.5vh 0;
  text-align: center;
}

.button {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  padding: 15px 25px;
  transition: transform 200ms ease-in-out;
  background-image: linear-gradient(135deg, #d5b172, #854f28);
  color: $white;
  &:hover {
    // opacity: 0.6;
    transform: scale(1.1);
  }
  &:disabled {
    opacity: 0.6;
    &:hover {
      transform: none;
    }
  }
}

// .tag {
//   font-size: 13px;
//   color: #303030;
//   padding: 4px 10px;
//   border-radius: 50px;
//   background: #e7e7e7;
//   cursor: pointer;
//   margin: 5px;
// }
