@import './base.scss';

.filteredRoutesSection {
  height: 100vh;
  &__listwrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__list {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2.5vw;
    @include tablets {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
    @include phones {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }
  &__item {
    aspect-ratio: 1 / 1;
    &:last-child {
      display: none;
    }
    @include tablets {
      max-height: min(30vw, 25vh);
      &:last-child {
        display: list-item;
      }
    }
    @include phones {
      max-height: 20vh;
      &:last-child {
        display: none;
      }
    }
  }
}
