@import './base.scss';

.footer {
  position: absolute;
  z-index: 15;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background: linear-gradient(135deg, #d5b172, #854f28);
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: $containerWidth;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    font-size: 28px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
  }
  &__subtitle {
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    @include phones {
      display: none;
    }
  }
  // &__phone {
  // text-decoration: underline;
  // }
  &__contacts {
    display: flex;
    gap: 15px;
    @include phones {
      gap: 5px;
    }
  }
}

.large {
  height: 50vh;
  & .footer {
    &__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: $containerWidth;
      max-width: $maxWidth;
      margin: auto;
      row-gap: 10px;
    }
    &__title {
      font-size: max(min(5vw, 70px), 40px);
    }
    &__subtitle {
      font-size: max(min(1.5vw, 20px), 12px);
      @include phones {
        display: block;
      }
    }
    &__phone {
      font-size: max(min(4vw, 55px), 25px);
    }
    &__contacts {
      @include phones {
        gap: 15px;
      }
    }
  }
}
