@import './base.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans', 'Open Sans', sans-serif;
  font-size: $baseFontSize;
  line-height: 1.42;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }
  @include phones {
    // font-size: 3.3vmin;
    font-size: $baseFontSize - 2px;
  }
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
}

// body {
//   color: $body;
//   background: $white;
// }
// button {
//   cursor: pointer;
//   border: 0;
// }
// section {
//   min-height: 650px;
// }
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}
table {
  border-collapse: collapse;
}
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
// footer {
//   position: relative;
//   width: 100%;
// }
// img {
//   display: block;
//   max-width: 100%;
// }

.filterInput {
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  /* flex: 1; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // gap: 8px 7px;
}
.controls__elem {
  cursor: pointer;
}
.controls__checkbox {
  appearance: none;
  position: absolute;
  padding: 0;
}
.controls__tag {
  padding: 9px 17px;
  border: 1px solid transparent;
}
.controls__checkbox:checked ~ .controls__tag {
  // background: #feaeff;
  background: #ffccfc;
}
.controls__checkbox:focus ~ .controls__tag {
  /* background: #b9eae4; */
  border-color: #333;
}

.tag {
  font-size: 16px;
  color: #303030;
  padding: 4px 10px;
  border-radius: 50px;
  background: #e7e7e7;
  cursor: pointer;
  margin: 5px;
}
input:-webkit-autofill {
  transition: all 50000s ease-in-out 50000s;
}
