@import './base.scss';

.hidden {
  transform: translatey(-100%);
  &::before {
    transform: translatey(-100%);
  }
}
.colored {
  &::before {
    opacity: 1 !important;
  }
}

.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 10vh;
  background: transparent;
  transition: 200ms ease-in-out;
  // @include phones {
  //   background: linear-gradient(135deg, #fdfdfd, #dadadd) !important;
  // }
  &__container {
    width: $containerWidth;
    margin: auto auto;
    max-width: $maxWidth;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #fdfdfd, #dadadd) !important;
    opacity: 0;
    transition: 200ms ease-in-out;
  }
}

.menu {
  margin: 0 10px;
  @include phones {
    margin: 0;
  }
  &__list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    @include phones {
      justify-content: center;
    }
  }
  // &__item {
  //   &:last-child {
  //     margin-right: 0;
  //   }
  // }
  &__link {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    color: $grayText;
    background-color: transparent;
    border: none;
    padding: 0;
    &:hover {
      text-decoration: underline;
    }
  }
}
