@import './base.scss';

.hidden {
  transform: translatey(-100%);
}
.colored {
  background: rgb(212, 128, 233) !important;
  background: #ffccfc !important;

  // background: rgba(212, 128, 233, 0.229) !important;
}
.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 10vh;
  // padding: 24px 0;
  background: transparent;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: $containerWidth;
    margin: auto auto;
    max-width: $maxWidth;
  }

  // @include tablets {
  //   background: $blue;
  //   padding: rem(24px) 2.5%;
  //   align-items: center;
  // }
  // .logo {
  //   flex-shrink: 0;
  // }
  // &__phone {
  //   @include tablets {
  //     display: none;
  //   }
  // }
}

.menu {
  flex: 1;
  margin: 0 1rem;
  // padding-top: rem(5px);
  // padding-top: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  // @include tablets {
  //   display: none;
  // }
  // &--vertical {
  //   @include tablets {
  //     display: block;
  //   }
  //   .menu__list {
  //     flex-direction: column;
  //     @include tablets {
  //       gap: rem(16px);
  //     }
  //   }
  //   .menu__item {
  //     @include tablets {
  //       margin-right: 0;
  //     }
  //   }
  //   .menu__link {
  //     color: $white;
  //     font-size: rem(36px);
  //     font-weight: 400;
  //     text-align: center;
  //   }
  // }
  &__list {
    flex: 1;
    display: flex;
    // justify-content: center;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: rem(15px);
    margin-bottom: rem(10px);
    // margin-right: 15px;
    // margin-bottom: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
    color: $grayText;
    background-color: transparent;
    border: none;
    padding: 0;
    // transition: transform 150ms ease-in-out;
    &:hover {
      text-decoration: underline;
      // transform: scale(1.05);
    }
  }
}
