@import './base.scss';

.heroSection {
  // min-height: 650px;
  // background-color: rgb(188, 215, 216);
  // background-image: url(../../public/images/bg/hero-transparent.png);
  background-size: cover;
  // &__container {
  //   justify-content: center;
  //   align-items: center;
  // }
  // &__headline {
  //   text-align: center;
  //   margin-bottom: 2.72rem;
  //   @include tablets {
  //     margin-bottom: rem(59px);
  //   }
  //   @include phones {
  //     margin-bottom: rem(64px);
  //   }
  //   .headline__subtitle {
  //     padding: 0 16%;
  //     line-height: 1.2;
  //     @include phones {
  //     }
  //     padding: 0 6%;
  //   }
  // }
  &__content {
    // width: 25%;
    // left: 70%;
    width: 34%;
    left: 64%;

    top: 20%;
    position: relative;
    text-align: center;
    @include tablets {
      width: 44%;
      left: 54%;
    }
    @include phones {
      width: 86%;
      left: 7%;
      padding: 10vw 3vw;
      background: #ffffffcc;
      // background-color: #ffccfce6;
      border-radius: 50px;
    }
  }
  &__title {
    // font-size: 48px;
    // font-size: 64px;
    font-size: min(5vw, 100px);

    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    // line-height: 1.21;
    // margin-bottom: 0.83rem;
    // @include tablets {
    //   margin-bottom: rem(8px);
    // }
    // @include phones {
    //   line-height: 1;
    // }

    background-color: #854f28;

    background-image: linear-gradient(135deg, #d5b172, #854f28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include tablets {
      font-size: 6.6vw;
    }
    @include phones {
      // font-size: 45px;
      font-size: min(calc(20vw - 35px), 45px);
    }
  }
  &__subtitle {
    color: $grayText;
    // font-size: 11px;
    // font-size: 16px;
    // font-size: min(1.15vw, 23px);
    font-size: min(max(14px, 1.15vw), 23px);

    font-weight: 400;
    white-space: nowrap;
    text-align: center;
    // margin-bottom: 0.83rem;
    // @include tablets {
    //   margin-bottom: rem(8px);
    // }
    // @include phones {
    //   line-height: 1;
    // }
    @include tablets {
      // font-size: 1.52vw;
      font-size: calc(0.8vw + 7px);
    }
    @include phones {
      font-size: 13px;
      // font-size: calc(0.8vw + 7px);
    }
  }
  &__text {
    color: $grayText;
    // font-size: 9px;
    // font-size: 13px;
    // font-size: min(0.95vw, 19px);
    font-size: min(max(12px, 0.95vw), 19px);

    font-weight: 400;
    margin: 0.83rem 0;
    @include tablets {
      // font-size: 1.26vw;
      font-size: calc(0.65vw + 7px);
      // font-size: 13px;
      padding: 0 3vw;
    }
    @include phones {
      font-size: 11px;
      // font-size: calc(0.8vw + 7px);
      padding: 0 5vw;
    }
  }
}

// .link {
//   font-weight: 700;
//   white-space: nowrap;
//   &:hover {
//     text-decoration: underline;
//   }
// }
