@import './base.scss';

.productPage {
  display: flex;
  height: 100%;
  @include tablets {
    flex-direction: column;
  }
  &__image {
    display: flex;
    justify-content: center;
    flex: 2;
    width: 100%;
    @include tablets {
      margin-bottom: 20px;
    }
  }
  &__pic {
    overflow: hidden;
    width: 100%;
    height: 100%;
    @include tablets {
      width: 80%;
    }
    @include phones {
      width: 100%;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__info {
    flex: 1;
  }
  &__info_container {
    padding-left: min(5vw, 70px);
    @include tablets {
      padding-left: 0;
    }
  }
  &__name {
    // font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;

    line-height: 1.21;
    font-size: 42px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    background-image: linear-gradient(135deg, #d5b172, #854f28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablets {
      font-size: 36px;
    }
    @include phones {
      font-size: 28px;
      white-space: initial;
    }
  }
  &__description {
    margin-bottom: 10px;
  }
  &__tags {
    margin-bottom: 10px;
  }
  &__tags_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__price {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.productCard {
  // border: 1px solid black;
  width: 220px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablets {
    width: 200px;
  }
  @include phones {
    width: 160px;
  }

  &__link {
    width: 100%;
    height: 100%;
    transition: transform 120ms ease-in-out;
    &:hover {
      transform: scale(1.05);
      .productCard__info {
        text-decoration: underline;
      }
    }
  }
  &__image {
    width: 100%;
    margin-bottom: 15px;
  }
  &__pic {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
    /* word-break: break-all; */
    /* нормально сделать перенос */
  }
  &__name {
    font-weight: 300;
    text-transform: uppercase;
  }
  &__buy {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    // flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 7px;
    @include tablets {
    }
    @include phones {
      flex-direction: column;
    }
  }
  &__price {
    font-size: 20px;
    @include phones {
      margin-bottom: 7px;
    }
  }
}

.cartItem {
  &__image {
    width: 33.3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 250px;
    @include tablets {
      width: 50%;
      max-width: 250px;
    }
    @include phones {
      max-width: 150px;
    }
  }
  &__pic {
    height: 100%;
    overflow: hidden;
    display: flex;
    @include phones {
      height: 150px;
    }
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    @include tablets {
      height: 60%;
      width: calc(100% - 250px);
      padding: 30px 30px 0;
    }
    @include phones {
      width: calc(100% - 150px);
      height: 70%;
    }
    /* word-break: break-all; */
    /* нормально сделать перенос */
  }
  &__name {
    text-transform: uppercase;
    margin-bottom: 10px;

    line-height: 1.21;
    font-size: 28px;
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    background-image: linear-gradient(135deg, #d5b172, #854f28);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include tablets {
      font-size: 24px;
      white-space: initial;
    }
    @include phones {
      font-size: 20px;
    }
  }
  &__description {
    font-weight: 300;
    @include tablets {
      display: none;
    }
  }
}
