@import './base.scss';

.catalog {
  display: grid;
  column-gap: min(3vw, 50px);
  row-gap: min(5vw, 50px);
  grid-template-rows: repeat(auto-fill, minmax(70px, 1fr));
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  @include tablets {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  @include phones {
    column-gap: 2vw;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 400px; // Virtuoso требует элементы одинакового размера, иначе сходит с ума
  }
}
